<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cambia Password</title>
</head>
<body>
    <h2>Cambia Password</h2>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul>
                {% for category, message in messages %}
                    {% if category == 'danger' %}
                        <li style="color: red;">{{ message }}</li>
                    {% else %}
                        <li style="color: green;">{{ message }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <form method="POST" action="{{ url_for('change_password_page.change_password') }}">
        {{ form.hidden_tag() }}
        <label for="old_password">Vecchia Password:</label>
        {{ form.old_password() }}
        <br>
        <label for="new_password">Nuova Password:</label>
        {{ form.new_password() }}
        <br>
        <label for="confirm_password">Conferma Nuova Password:</label>
        {{ form.confirm_password() }}
        <br>
        <button type="submit">Cambia Password</button>
    </form>
</body>
</html>
