<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nessuna stagione in corso.</title>
</head>
<body>
    <h1>Nessuna stagione in corso.</h1>
    <a href="{{ url_for('insert_page.insert') }}"><button>Inserisci</button></a>

    <a href="{{ url_for('leaderboard_page.leaderboard') }}"><button>Vai alla leaderboard</button></a>

    <a href="{{ url_for('logout_page.logout') }}"><button>Log Out</button></a>
</body>
</html>

