<!-- status.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .container {
            margin-bottom: 10px;
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <h1>{{ title }}</h1>
    <h2>{{ start_date }} &mdash; {{ end_date}}</h2>

    <div>
         <div class="container">
             <table border="1">
                 <tr>
                     <th>Contendente</th>
                     <th>Punteggio</th>
                 </tr>
                 {% for row in total_table_data %}
                     <tr>
                         <td>{{ row[1] }}</td>
                         <td>{{ row[0] }}</td>
                     </tr>
                 {% endfor %}
             </table>
         </div>
         <div class="container">
             {% include 'status_table.html' %}
         </div>
         <div class="container">
             {{ plot_html | safe }}
         </div>
    </div>

    <a href="{{ url_for('insert_page.insert') }}"><button>Inserisci</button></a>

    <a href="{{ url_for('logout_page.logout') }}"><button>Log Out</button></a>
</body>
</html>

